* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
.body {
  background: #fdf0e9;
}

.header {
  background: #32334c;
  margin: auto;
  width: 100%;
}

.nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 130px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav__item a {
  color: white;
  padding: 4px 50px;
  text-decoration: none;
}
.nav__btn {
  padding: 6px 20px;
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  color: #fff;
  border: 1px solid #bebaba;
  border-radius: 4px;
  background: #32334c;
}
.nav__burger__btn {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #32334c;
  border-radius: 6px;
}
.nav__burger__btn span {
  width: 32px;
  height: 5px;
  border: none;
  display: block;
  background: #fff;
}

.nav__burger__btn {
  display: none;
}

.dream {
  margin: auto;
  background: #32334c;
  padding-top: 90px;
}
.wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 135px;
  gap: 40px;
}
.dream__info {
  width: 50%;
}
.dream__info__text {
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: #ef6d58;
}
.dream__title {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  text-align: left;
  color: #ffffff;
  padding-top: 10px;
}
.dream__info__coment {
  line-height: 32px;
  text-align: left;
  color: #ffffff;
  width: 470px;
  padding-top: 24px;
}

.dream__select {
  display: flex;
  gap: 34px;
  padding-top: 34px;
}

.dream__select__btn {
  font-size: 14px;
  font-weight: 900;
  line-height: 14.35px;
  text-align: center;
  color: #ffffff;
  padding: 8px 12px;
  background: #ef6d58;
  border-radius: 4px;
  border: none;
}
.dream__select__contact a {
  line-height: 32px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.dream__profile {
  padding-top: 112px;
  gap: 6px;
  display: flex;
}

.dream__profile__text {
  color: #ffffff8f;
  text-align: left;
}
.ream__profile__last-text {
  color: #ffffff;
  text-align: left;
}
.dream__foto {
width: 50%;
}

.brands__img {
  padding: 72px 0;
}
.brands__under-line {
  border-color: #f3d1bf;
  margin: 0px 135px;
}
.about__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 100px 135px;
}

.about__info {
  width: 50%;
}

.about__info img {
  width: 100%;
}
.about__start-text {
  line-height: 32px;
  letter-spacing: 3px;
  text-align: left;
  color: #ef6d58;
  text-transform: uppercase;
  margin-top: 70px;
}

.about__title {
  font-size: 56px;
  font-weight: 800;
  line-height: 64px;
  letter-spacing: -1px;
  text-align: left;
  color: #391400;
}

.about__info-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  color: #391400;
  padding: 26px 0 18px 0;
}

.about__text {
  color: #39140096;
}

.about__btn {
  font-size: 14px;
  font-weight: 900;
  margin-top: 34px;
  padding: 18px 32px;
  border-radius: 6px;
  box-shadow: 0px 3px 9px 0px #39140014;
  border: none;
  cursor: pointer;
}

.statistic__wrapper {
  width: 83%;
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 100px;
}
.statistic__pages {
  border: 1.5px solid #f3d1bf;
  width: 100%;
}
.statistic__info-text {
  color: #391400;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  padding: 46px 0 14px 46px;
}
.statistic__info-coment {
  color: #391400;
  font-size: 20px;
  text-align: left;
  padding: 14px 0 46px 46px;
}
.project__awesome {
  width: 50%;
}

.project__input-text {
  letter-spacing: 3px;
  text-align: left;
  color: #ef6d58;
}

.project__title {
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  padding: 17px 0 31px 0;
}

.project__text {
  color: #3914008b;
  width: 60%;
  padding-bottom: 30px;
}

.project__text-continue {
  color: #391400;
}
.project__menu {
  width: 50%;
  margin-left: 230px;
}

.project__order {
  font-size: 72px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
  margin-top: 70px;
  margin-bottom: 135px;
}

.project__menu__numbers {
  padding: 0 0 0 300px;
  padding-top: 25px;
}

.project__list {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #391400;
  margin-top: 40px;
}

.project__item {
  padding-top: 80px;
}

.unlock__img {
  width: 50%;
  margin-top: 127px;
  padding-bottom: 50px;
}

.unlock__info {
  width: 50%;
  padding-left: 130px;
}

.unlock__input-text {
  margin-top: 187px;
  letter-spacing: 3px;
  text-align: left;
  color: #ef6d58;
  padding-bottom: 17px;
}
.unlock__title {
  color: #391400;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  padding-right: 300px;
}

.unlock__text {
  color: #39140091;
  line-height: 32px;
  text-align: left;
  padding-right: 300px;
}

@media (max-width: 570px) {
  .nav__burger__btn {
    display: flex;
  }
.nav__list {
    display: none;
}

.nav__btn {
    display: none;
}
.about__wrapper {
 flex-direction: column-reverse;
 padding: 0;
 gap: 30%;
 width: 329px;
height: 334px;
top: 80px;
left: 23px;


}
}
